.modal-background{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 100%;
	transition: all .2s;
	.modal{
		background: #eee;
		height: 100%;
		.modal-header{
			text-align: right;
			padding: .9em;
			.close{
				padding: .5em;
				transition: all .3s;
				cursor: pointer;
				&:hover{
					border-radius: 50%;
					background: #222;
					color: $color2;
				}
			}
		}
	}
}


.modal-show{
	top: 0 !important;
}