.user-name{
	a{
		color: #fff;
		display: block;
	}
	background: $color1;
	color: #fff;
	cursor: pointer;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	@media (min-width: 1020px){
		position: absolute;
		left: 0;
		top: 1em;
		width: 250px;
	}
	#user-name{
		transition: all .2s;
		list-style-type: none;
		& > li{
			font-family: 'century gothic';
			font-size: 1.1em;
			padding: 1em;
			ul{
				margin: .4em 0;
				list-style: none;
				display: none;
				border-top: 2px solid #fff;

				li{
					transition: all .2s;
					line-height: 2;
					text-transform: lowercase;
					padding-left: .4em;
					&:hover{
						background: darken($color1,10);
					}
				}
			}
		}
	}
}
body{
	background: #eee;
}
.tasklist{
	@media (min-width: 720px) {
		width: 90%;
		margin: auto;
		max-width: 800px;
	}
	@media (min-width: 1020px){
		width: 600px;
		margin: 2em auto;
		max-width: 1200px;
	}
	font-family: 'lucida sans';
	&-header, &-body{
		background: #fff
	}
	&-header{

		display: flex;
		flex-direction: column;
	}
	&-name{
		width: 100%;
		padding: .9em; 
		display: flex;

		box-shadow: 0 -2px darken(#ccc, 20) inset;
	}
	#tasklist-name{
		margin-right: auto;
		align-self: center;
		font-size: 1.5em;
	}
	#tasklist-name-edit{
		font-size: 1.5em;
		background: #222;
		color: #fff;
		text-align: center;
		padding: 0 .2em;
		align-self: center;
		cursor: pointer;
	}
	&-add{
		padding: .9em .4em; 
		&-form{
			.form-group{
				margin: 1em 0;
				input{
					font-size: 1.5em;
					width: 75%;
				}
				small{
					color: lighten(#222,10);
				}
			}
		}
	}
	#task-add{
		background: lightgreen;
		display: inline-block;
		width: 24%;
		text-align: center;
		transition: all .2s;
		&:hover{
			background: darken(lightgreen,10);
		}
	}
	&-body{
		//margin: 2em 0;
		.task{
			box-shadow: 0 3px $color1 inset;
			&-header{
				.task-title, .task-info{
					padding: 0 1em;
				}
				.task-title{
					width: 100%;
					font-weight: bold;
					text-transform: uppercase;
					margin: .3em 0;
				}
				.task-info{
					display: flex;
					flex-direction: column;
					span{
						width: 100%;
					}
				}
			}
			&-body{
				width: 100%;
				padding: 1em .5em;
				font-size: 1.6em;
				text-align: left;

			}
			&-footer{
				display: flex;
				justify-content: flex-end;
				align-items: center;
				padding-bottom: 1em;
				a{
					align-self: flex-end;
					margin: 0 .5em;

				}
				#erase{
					background: $color3;
					font-size: 1.1em;
				}
				.checkbox-container{
					width: 42px;
					height: 38px;
					background: #1dd33f;
					padding: 2px;
					position: relative;
					input[type="checkbox"]{
						display: none;
					}
					input[type="checkbox"] + label
					{
						display: block;
						background: #eee;
						width: 38px;
						height: 34px;

						&:before{
							font-size: 1.6em;
							content: "\2713";
							text-align: center;
							background: #3452c1;
							opacity: 0.2;
							width: 42px;
							height: 38px;
							top: 0;
							left: 0;
							position: absolute;
							color: #fff;
						}
					}
					input[type="checkbox"]:checked + label{
						&:before{
							opacity: 1;
						}
					}
				}
			}
		}
		.task:last-child{
			.task-footer{
				box-shadow: 0 -4px $color2 inset;
			}
		}
	}
}

.done{
	opacity: .4;
	background: #eee;
}