@for $i from 1 through 10{

	.w-#{$i * 10}{
		width: unquote(#{$i * 10} + '%');
	}
}

header{
	.header-content{
		width: 100%;
		padding: .2em;
		background: $color1;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 5px;
		font-family: 'century gothic';
	}
}

.form{
	width: 100%;
	padding: 1em 1em 2em;
	display: flex;
	flex-direction: column;
	@media screen and(min-width: 1024px){
		width: 400px;
		margin: auto;
	}
	.form-group{
		display: flex;
		margin:1.5em 0;
		padding: 0;
		position: relative;
		@media (width: 414px) and (height: 736px){
			margin: 2.5em 0;
		}
		label{
			vertical-align: middle;
		}
		.form-input{
			font-size: inherit;
			padding: .2em .4em;
			
			box-shadow: 0 -3px $color1 inset;
			border: none;
			
			transition: all .2s;
			&:focus{
				padding-bottom: .4em;
				box-shadow: -3px 0 $color1 inset,
							3px 0 $color1 inset,
							0  -3px $color1 inset;
			}
		}
	}
}
.login-form{
	background: #222;
	color: #fff;
	height: 100vh;
	@media screen and (min-width: 1024px){
		height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	.form-group{
		.form-input{
			background: #222;
			color: #fff;
		}
	}
}
.modal-form{
	padding-top: 0;
	.form-group{
		.form-input{
			background: #eee;
		}
	}
}
.img{
	height: 100px;
}
.form-img{
	width: 100px;
}
img{
	max-width: 100%;
	height: auto;
	margin: auto;
}
.button{
	padding: .4em .8em;
	margin: auto;
	cursor: pointer;

}
.bg-1{
	background: $color1;
	&:active, &:hover{
		background: darken($color1,10);
	}
}
.bg-2{
	background: $color2;
	&:active, &:hover{
		background: darken($color2, 10);	
	}
}