$color1: #1e90ff;
$color2: #4169e1;
$color3: #EA4335;
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body.login{
	overflow: hidden;
	height: 100vh;
	@media (width: 768px){
		font-size: 2.3em;
	}

}

body{
	font-family: sans-serif;
	background:#eee;
	
	font-size: 1.3em;
	
	
	@media (max-width: 320px) {
		font-size: .9em;
	}
	@media (min-width: 460px){
		font-size: 1em;
	}
	
	@media (width: 600px){
		font-size: 1.8em;
	}
}
a{
	color: #222;
	text-decoration: none;
}

@import 'ui';
@import 'message';
@import 'modal';
@import 'tasklist';