$color1: #1e90ff;
$color2: #4169e1;
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	font-family: sans-serif;
	background:#eee;
	overflow: hidden;
	font-size: 1.3em;
	height: 100vh;
	@media (min-width: 460px){
		font-size: 1em;
	}
}
a{
	color: #222;
	text-decoration: none;
}

@import 'ui';
@import 'message';
@import 'modal';